@{
    ViewData["Title"] = "О сервису";
}
<h1 class="display-3">@ViewData["Title"]</h1>

<div class="container-fluid">
<p> Сервис за пријаву и полагање пријемног испита је интернет сервис који омогућава студентима да се региструју, пријаве на испит, и прате своје резултате.
    Уколико комисија утврди да студент испуњава услове за полагање испита, исти ће бити обавештен о термину одржавања испита.
</p>
</div>