@{
    ViewData["Title"] = "Почетна";
}

<h1>ДОБРОДИШЛИ, АДМИНЕ</h1>


<div class="btn-group-vertical" role="group">
<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminPregledKorisnika"><button>ПРЕГЛЕД СТУДЕНАТА</button></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminPregledIspita"><button>ЗАКАЖИ ИСПИТ</button></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminUnosRezultata"><button>УНЕСИ РЕЗУЛТАТЕ</button></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminRezultatStampa"><button>ШТАМПАЈ РЕЗУЛТАТЕ</button></a>
</div>